<tr>
  <td><%= counter %></td>
  <td><%= render_icon(given_badge.badge.image_path) %></td>
  <td><%= given_badge.badge.name %></td>
  <td><%= given_badge.badge.description %></td>
  <td><%= amount_of_badges(given_badge) %>
</tr>