<div class="col-6">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Content</th>
        <th scope="col">Correct</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @answer.content %></td>
        <td><%= @answer.correct %></td>
      </tr>
    </tbody>
  </table>
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to 'Edit', edit_admin_answer_path(@answer), class: 'btn btn-primary' %>
    <%= link_to 'Delete', admin_answer_path(@answer), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
    <%= link_to 'View question', admin_question_path(@answer.question), class: 'btn btn-primary' %>
  </div>
</div>