<div class="col-8">
  <h3 class='timer'></h3>
  <h2> Passing the '<%= @taken_test.test.title %>' Test </h2>
  <h3><%= @taken_test.current_question.content %></h3>
  <%= form_with url: taken_test_path(@taken_test), 
                data: { current_question_id: @taken_test.current_question_number, 
                        questions_amount: @taken_test.questions_amount,
                        start_time: @taken_test.created_at.to_datetime.to_f * 1000,
                        end_time: @taken_test.end_time.to_f * 1000 }, 
                class: 'answer-form',
                local: true, 
                method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @taken_test.current_question.answers, :id, :content do |collection| %>
      <div class="form-group row">
        <%= collection.check_box id: "answer_ids_#{collection.object.id}".to_sym, class: 'col-1 offset-4 form-control' %>
        <%= collection.label(class:'col-2 col-form-label') %>
      </div>
    <% end %>
    <div class='btn-group'>
      <%= link_to 'Gist Question', gist_taken_test_path(@taken_test), method: :post, class: 'btn btn-primary' %>     
      <%= form.submit 'Next', class: 'btn btn-success'  %>
    </div>
  <% end%>
  <h3> Progress: <%= output_progress(@taken_test) %></h3>
</div>