<div class="col-8">
  <h2><%= test_header(@test) %></h2>
  <%= form_with model: [:admin, @test], local: true do |form| %>
    <%= render 'shared/errors', resource: @test %>
    <div class='form-group'>
      <%= form.label :title %>
      <%= form.text_field :title, id: :test_title, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= form.label :content %>
      <%= form.text_field :content, id: :test_content, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= form.label :level %>
      <%= form.text_field :level, id: :test_kevel, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, Category.all, :id, :title, {prompt: true}, {class: "browser-default custom-select"} %>
    </div>
    <div class='btn-group'>
      <%= link_to 'View tests', tests_path, class: 'btn btn-primary' %>
      <%= form.submit class: 'btn btn-success' %>
    </div>
  <% end %>
</div>