<tr>
  <td><%= counter %></td>
  <td><%= test.title %></td>
  <td><%= test.content %></td>
  <td><%= test.level %></td>
  <td><%= test.category&.title %></td>
  <td><%= test.questions.count %></td>
  <td><%= start_button(test) %></td>
</tr>