<nav class="navbar navbar-expand-lg">
  <%= brand %>
  <div class='navbar-brand'>
    <a>Admin Panel</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= tests_link %>
      <%= gists_link %>
      <%= given_badges_link %>
      <%= badges_link %>
      <%= signup_link %>
      <%= signin_link %>
      <%= signout_link %>
    </ul>
    <%= welcome_message %>
  </div>
</nav>